In [24]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
 # https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

## NASA Mars News

In [3]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [5]:
browser = init_browser()

# Visit nasa site to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

# # Get the story title
title = soup.find('div', class_='content_title').text

# # Get the teaser paragraph
teaserp = soup.find('div', class_='article_teaser_body').text
    
# # Store data in a dictionary
marsarticle = {"title": title,"teaserp": teaserp}
marsarticle

{'title': "NASA's Curiosity Rover Finds an Ancient Oasis on Mars",
 'teaserp': "New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate."}

## JPL Mars Space Images - Featured Image

In [ ]:
#https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

In [12]:
# Visit site to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
#click through full image button
fullimgbutton = browser.find_by_id("full_image")
fullimgbutton.click()
#click through more info button
browser.is_element_present_by_text("more info")
moreinfo = browser.find_link_by_partial_text("more info")
moreinfo.click()

In [13]:
html = browser.html
img_soup = bs(html, "html.parser")

In [15]:
#get img url
img_url = img_soup.select_one("figure.lede a img").get("src")
#assign url to main_url
main_url = 'https://www.jpl.nasa.gov'
#combine 
featured_image_url = main_url + img_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA09113_hires.jpg'

## Mars Weather

In [16]:
# Visit site to be scraped
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [17]:
html = browser.html
twitter_soup = bs(html, "html.parser")

In [19]:
mars_weather = twitter_soup.find("p", "tweet-text").get_text()
mars_weather

'InSight sol 309 (2019-10-10) low -102.3ºC (-152.1ºF) high -26.2ºC (-15.1ºF)\nwinds from the SSE at 6.1 m/s (13.6 mph) gusting to 18.9 m/s (42.4 mph)\npressure at 7.20 hPapic.twitter.com/sSOjseIl81'

## Mars Facts

In [22]:
#https://space-facts.com/mars/
url = 'https://space-facts.com/mars/'

In [25]:
#pandas read html
mars_df = pd.read_html(url)[0]
mars_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [26]:
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispherses

In [ ]:
# Visit site to be scraped
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)